workflows/kindle_email_to_drive_TEMPLATE.json
{
  "name": "Kindle Email to Drive Inbox",
  "_templateNotes": {
    "TYPE": "SKELETON TEMPLATE — Preview Only",
    "DESCRIPTION": "This skeleton shows the workflow architecture (nodes, connections, positions) but does NOT include the full implementation code. It is provided so you can see how the automation is structured before enrolling.",
    "FULL_VERSION": "The complete, production-ready workflow with all code is available inside the AI Digital Secretary course.",
    "ENROLL": "https://www.skool.com/dotcomcrowd-4789/classroom/6ed88903",
    "SETUP_INSTRUCTIONS": "Replace all YOUR_... placeholder values with your own credential and folder IDs before activating."
  },
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute",
              "minute": 5
            }
          ]
        },
        "filters": {
          "sender": "do-not-reply@amazon.com",
          "subject": "from your Kindle",
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": false
        }
      },
      "id": "gmail-trigger-001",
      "name": "Watch for Kindle Emails",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [260, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extracts the PDF download URL and notebook name from Amazon Kindle email HTML\n// Full implementation available in the AI Digital Secretary course\n// Enroll: https://www.skool.com/dotcomcrowd-4789/classroom/6ed88903\n\nthrow new Error('Skeleton template — enroll for the complete workflow');"
      },
      "id": "code-extract-url-002",
      "name": "Extract Download URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.downloadUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "http-download-003",
      "name": "Download PDF from Amazon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 300]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $('Extract Download URL').item.json.fileName }}",
        "folderId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_INBOX_FOLDER_ID",
          "mode": "id"
        },
        "options": {}
      },
      "id": "gdrive-upload-004",
      "name": "Upload to Drive Inbox",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1040, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Watch for Kindle Emails": {
      "main": [
        [
          {
            "node": "Extract Download URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Download URL": {
      "main": [
        [
          {
            "node": "Download PDF from Amazon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF from Amazon": {
      "main": [
        [
          {
            "node": "Upload to Drive Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
