workflows/kindle_pipeline_processing_TEMPLATE.json
{
  "name": "Kindle Pipeline - PDF Ingestion & Processing",
  "_templateNotes": {
    "TYPE": "SKELETON TEMPLATE \u2014 Preview Only",
    "DESCRIPTION": "This skeleton shows the workflow architecture (nodes, connections, positions) but does NOT include the full implementation code. Code nodes contain placeholder stubs and the Claude AI prompt has been redacted. It is provided so you can see how the 14-node automation pipeline is structured before enrolling.",
    "FULL_VERSION": "The complete, production-ready workflow with all code and the full PARA-method Claude prompt is available inside the AI Digital Secretary course.",
    "ENROLL": "https://www.skool.com/dotcomcrowd-4789/classroom/6ed88903",
    "SETUP_INSTRUCTIONS": "Replace all placeholder values before activating:",
    "1_GOOGLE_DRIVE": "Replace YOUR_INBOX_FOLDER_ID, YOUR_PROCESSED_FOLDER_ID, YOUR_KINDLE_EXPORTS_FOLDER_ID with your Google Drive folder IDs",
    "2_NOTION": "Replace YOUR_NOTION_DATABASE_ID with your Notion Action Items database ID",
    "3_EMAIL": "Replace YOUR_EMAIL@gmail.com with your notification email",
    "4_CREDENTIALS": "Replace all REPLACE_WITH_YOUR_CREDENTIAL_ID entries with your n8n credential IDs after setting up OAuth and API keys",
    "5_CLAUDE_API": "Set up an HTTP Header Auth credential with name 'x-api-key' and your Anthropic API key as the value",
    "6_NOTION_API": "Set up an HTTP Header Auth credential with name 'Authorization' and value 'Bearer YOUR_NOTION_INTEGRATION_TOKEN'"
  },
  "nodes": [
    {
      "parameters": {
        "notice": "",
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "useQueryString": true,
        "queryString": "'YOUR_INBOX_FOLDER_ID' in parents and mimeType='application/pdf'",
        "limit": 50,
        "options": {}
      },
      "name": "List PDFs in Inbox",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [520, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 1
      },
      "name": "Limit to 1 PDF",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [740, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "download",
        "fileId": "={{ $json.id }}",
        "binaryPropertyName": "data",
        "options": {}
      },
      "name": "Download PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [960, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Converts downloaded PDF binary to base64 for Claude API\n// Full implementation available in the AI Digital Secretary course\n// Enroll: https://www.skool.com/dotcomcrowd-4789/classroom/6ed88903\n\nthrow new Error('Skeleton template \u2014 enroll for the complete workflow');"
      },
      "name": "Base64 Encode PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 8192,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"document\",\n          \"source\": {\n            \"type\": \"base64\",\n            \"media_type\": \"{{ $json.mime_type }}\",\n            \"data\": \"{{ $json.base64_pdf }}\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"[SKELETON] This node sends the PDF to Claude for OCR and PARA-method classification.\\n\\nThe full prompt instructs Claude to:\\n- Analyze the PDF document\\n- Extract all action items, tasks, ideas, projects, events, and references\\n- Classify each item using the PARA method (Projects, Areas, Resources, Archive)\\n- Return structured JSON with fields including: action_description, priority, item_type, domain, para_category, project, context, due_date, event_time\\n\\nThe complete prompt is available in the AI Digital Secretary course.\\nEnroll: https://www.skool.com/dotcomcrowd-4789/classroom/6ed88903\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "name": "Claude AI - OCR + Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Claude API Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Parses Claude's JSON response, handling code fences and edge cases\n// Full implementation available in the AI Digital Secretary course\n// Enroll: https://www.skool.com/dotcomcrowd-4789/classroom/6ed88903\n\nthrow new Error('Skeleton template \u2014 enroll for the complete workflow');"
      },
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1620, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Builds Obsidian-compatible Markdown with PARA headings and priority indicators\n// Full implementation available in the AI Digital Secretary course\n// Enroll: https://www.skool.com/dotcomcrowd-4789/classroom/6ed88903\n\nthrow new Error('Skeleton template \u2014 enroll for the complete workflow');"
      },
      "name": "Build Obsidian Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Splits the action_items array into individual items for Notion row creation\n// Full implementation available in the AI Digital Secretary course\n// Enroll: https://www.skool.com/dotcomcrowd-4789/classroom/6ed88903\n\nthrow new Error('Skeleton template \u2014 enroll for the complete workflow');"
      },
      "name": "Split Action Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2060, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Builds the Notion API request body with PARA properties for each action item\n// Full implementation available in the AI Digital Secretary course\n// Enroll: https://www.skool.com/dotcomcrowd-4789/classroom/6ed88903\n\nthrow new Error('Skeleton template \u2014 enroll for the complete workflow');"
      },
      "name": "Build Notion API Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2280, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Notion-Version", "value": "2022-06-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._notion_body) }}",
        "options": {}
      },
      "name": "Create Notion Action Item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Notion API Key"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "copy",
        "fileId": "={{ $('Download PDF').item.json.id }}",
        "options": {
          "parents": ["YOUR_PROCESSED_FOLDER_ID"]
        }
      },
      "name": "Copy PDF to Processed",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [2060, 520],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "copy",
        "fileId": "={{ $('Download PDF').item.json.id }}",
        "options": {
          "parents": ["YOUR_KINDLE_EXPORTS_FOLDER_ID"]
        }
      },
      "name": "Archive PDF to Kindle-Exports",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [2280, 520],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "delete",
        "fileId": "={{ $('Download PDF').item.json.id }}",
        "options": {}
      },
      "name": "Delete Original from Inbox",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [2500, 520],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "notice": ""
      },
      "name": "On Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [260, 640]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "send",
        "sendTo": "YOUR_EMAIL@gmail.com",
        "subject": "=Pipeline Error: {{ $json.workflow.name }}",
        "emailType": "text",
        "message": "=Error in workflow \"{{ $json.workflow.name }}\":\n\nNode: {{ $json.execution.error.node.name }}\nMessage: {{ $json.execution.error.message }}\n\nExecution ID: {{ $json.execution.id }}\nTimestamp: {{ new Date().toISOString() }}",
        "options": {}
      },
      "name": "Error Notification Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [520, 640],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [[{ "node": "List PDFs in Inbox", "type": "main", "index": 0 }]]
    },
    "List PDFs in Inbox": {
      "main": [[{ "node": "Limit to 1 PDF", "type": "main", "index": 0 }]]
    },
    "Limit to 1 PDF": {
      "main": [[{ "node": "Download PDF", "type": "main", "index": 0 }]]
    },
    "Download PDF": {
      "main": [[{ "node": "Base64 Encode PDF", "type": "main", "index": 0 }]]
    },
    "Base64 Encode PDF": {
      "main": [[{ "node": "Claude AI - OCR + Classify", "type": "main", "index": 0 }]]
    },
    "Claude AI - OCR + Classify": {
      "main": [[{ "node": "Parse Claude Response", "type": "main", "index": 0 }]]
    },
    "Parse Claude Response": {
      "main": [[{ "node": "Build Obsidian Markdown", "type": "main", "index": 0 }]]
    },
    "Build Obsidian Markdown": {
      "main": [
        [
          { "node": "Split Action Items", "type": "main", "index": 0 },
          { "node": "Copy PDF to Processed", "type": "main", "index": 0 }
        ]
      ]
    },
    "Split Action Items": {
      "main": [[{ "node": "Build Notion API Body", "type": "main", "index": 0 }]]
    },
    "Build Notion API Body": {
      "main": [[{ "node": "Create Notion Action Item", "type": "main", "index": 0 }]]
    },
    "Create Notion Action Item": {
      "main": [[]]
    },
    "Copy PDF to Processed": {
      "main": [[{ "node": "Archive PDF to Kindle-Exports", "type": "main", "index": 0 }]]
    },
    "Archive PDF to Kindle-Exports": {
      "main": [[{ "node": "Delete Original from Inbox", "type": "main", "index": 0 }]]
    },
    "On Error": {
      "main": [[{ "node": "Error Notification Email", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
